<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>912009942711-hm1ulj2tliqq07a4667r7rp5uj39ucvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912009942711-hm1ulj2tliqq07a4667r7rp5uj39ucvr</string>
	<key>API_KEY</key>
	<string>AIzaSyAOXxN9vAjzpqc1c96uSRq0jDQexEXHiW8</string>
	<key>GCM_SENDER_ID</key>
	<string>912009942711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindylou.Soccer</string>
	<key>PROJECT_ID</key>
	<string>soccer-45edf</string>
	<key>STORAGE_BUCKET</key>
	<string>soccer-45edf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:912009942711:ios:7e0bfadcef037e50</string>
	<key>DATABASE_URL</key>
	<string>https://soccer-45edf.firebaseio.com</string>
</dict>
</plist>